* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
:root {
  // background color //
  --bg-primary-color: #0c0c0c;
  --bg-fill-color: wheat;
  --bg-food-color: rgb(224, 11, 139);

  // text color //
  --text-primary-color: #f0f0f0;

  // spacing  variables //
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;
  --spacing-3xl: 48px;

  // border color //
  --border-primary-color: #333333;

  // border redius //
  --border-redius-xs: 4px;
  --border-redius-sm: 8px;
  --border-redius-mid: 12px;
  --border-redius-lg: 16px;
  --border-redius-xl: 20px;
  --border-redius-2xl: 24px;
}
html {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main {
  height: 100%;
  width: 100%;
  .btn {
    padding: var(--spacing-sm) var(--spacing-md);
    border: none;
    cursor: pointer;
    border-radius: var(--border-redius-sm);
    transition: all ease 0.3s;
  }
  .btn:hover {
    transform: scale(1.1);
  }
  .btn:active {
    scale: 0.95;
  }

  section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    // background-color: rgb(4, 4, 86);
    padding: var(--spacing-2xl);
    gap: var(--spacing-lg);

    #infos {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .info {
        padding: var(--spacing-sm) var(--spacing-md);
        border: 1px solid var(--border-primary-color);
        border-radius: var(--border-redius-sm);
      }
    }
    #board {
      border: 1px solid var(--border-primary-color);
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
      grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    }
    .block {
      // width: 80px;
      // height: 80px;
      border: 1px solid var(--border-primary-color);
      border-radius: 50%;
    }
  }
}
.fill {
  background-color: var(--bg-fill-color);
}
.food {
  background-color: var(--bg-food-color);
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #35353500;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;

  .start-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);
  }
  .game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);
    display: none;
  }
}
